@model RegistrationTypeFormViewModel

<div class="form-grid">
    <div class="field-group">
        <label asp-for="RegistrationTypeName"></label>
        <input asp-for="RegistrationTypeName" placeholder="Limited company" />
        <span asp-validation-for="RegistrationTypeName"></span>
    </div>
</div>
