@model IndustryTypeFormViewModel

<div class="form-grid">
    <div class="field-group">
        <label asp-for="IndustryTypeName"></label>
        <input asp-for="IndustryTypeName" placeholder="Hospitality" />
        <span asp-validation-for="IndustryTypeName"></span>
    </div>
</div>
